@model MeyawoPortfolio.Models.Tbl_About

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h4>Hakkımda Güncelleme Sayfası</h4>
<br />
@using (Html.BeginForm("UpdateAbout", "About", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(x => x.AboutID, new { @class = "table table-bordered" })
    <br />
    @Html.Label("Ben Kimim?")
    @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
    <br />
    @Html.Label("Hakkımda")
    @Html.TextBoxFor(x => x.Header, new { @class = "table table-bordered" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Description, 10,7, new { @class = "table table-bordered" })
    <br />
    @Html.Label("Görsel")
    @Html.TextBoxFor(x => x.ImageUrl,new { @class = "table table-bordered" })
    <br />
    <button type="submit" class="btn btn-outline-primary col-md-12">Güncelle</button>
</div>
}