@model MeyawoPortfolio.Models.Tbl_Testimonial

@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h4>Referans Ekleme Sayfası</h4>
<br />
@using (Html.BeginForm("AddTestimonial", "Testimonial", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Adı Soyadı")
        @Html.TextBoxFor(x => x.NameSurname, new { @class = "table table-bordered" })
        <br />
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.Description,5,7, new { @class = "table table-bordered" })
        <br />
        @Html.Label("Görsel")
        @Html.TextBoxFor(x => x.Image, new { @class = "table table-bordered" })
        <br />
        @Html.Label("Durum")
        @Html.TextBoxFor(x => x.Status, new { @class = "table table-bordered" })
        <br />
        <button class="btn btn-outline-primary col-md-12">Referans Ekle</button>
    </div>
}